node-red/data/flows.json
[
    {
        "id": "c8805f1e4e755b39",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3423cc30c940afeb",
        "type": "mqtt-broker",
        "name": "Servidor",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "/node-red",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "Conectado",
        "birthMsg": {},
        "closeTopic": "/node-red",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "Cerrando",
        "closeMsg": {},
        "willTopic": "/node-red",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "Error",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9a446ceaf00aa1e",
        "type": "ui_tab",
        "name": "Mi Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43a4ded5d019d1cc",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "27a31974c7464f3f",
        "type": "ui_group",
        "name": "Aula211",
        "tab": "f9a446ceaf00aa1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c52112b4adb5a597",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "02055f9a4b203822",
        "type": "mqtt in",
        "z": "c8805f1e4e755b39",
        "name": "Temperatura",
        "topic": "/aula211/temperatura",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3423cc30c940afeb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "774685e51adf99fc",
                "12a57695382b645a",
                "4ce95ebac363bf4e",
                "e6d07968ca51d483"
            ]
        ]
    },
    {
        "id": "774685e51adf99fc",
        "type": "debug",
        "z": "c8805f1e4e755b39",
        "name": "Test",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 180,
        "wires": []
    },
    {
        "id": "e7638e49483e9bfa",
        "type": "influxdb out",
        "z": "c8805f1e4e755b39",
        "influxdb": "c52112b4adb5a597",
        "name": "Guarda temperatura",
        "measurement": "Temperatura",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Al-Andalus",
        "bucket": "Tarea1",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "12a57695382b645a",
        "type": "function",
        "z": "c8805f1e4e755b39",
        "name": "Formatea datos",
        "func": "msg.payload = [{\n    temperatura: Number (msg.payload)\n    },\n    {\n        sensor: \"BME280\",\n        device: \"ESP32\",\n        room: \"Aula211\"\n    }];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "e7638e49483e9bfa"
            ]
        ]
    },
    {
        "id": "4ce95ebac363bf4e",
        "type": "ui_gauge",
        "z": "c8805f1e4e755b39",
        "name": "Temperatura",
        "group": "27a31974c7464f3f",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "e6d07968ca51d483",
        "type": "ui_chart",
        "z": "c8805f1e4e755b39",
        "name": "Temperaturas",
        "group": "27a31974c7464f3f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperaturas",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 640,
        "y": 100,
        "wires": [
            []
        ]
    }
]